language: rust
rust:
    - stable
    - beta
    - nightly
matrix:
    allow_failures:
        - rust: nightly
    fast_finish: true
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq libxorg-dev

